# Node.js
node_modules/

# dependencies
/node_modules
/.pnp
.pnp.js
# macOS
.DS_Store

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Built artifacts
build/
dist/
__pycache__